.social-icons {
 margin-top: 30px;
 
}

.social-icons a{
  display: inline-block;
  width: 35px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #fff;
  outline: 1px solid gray;
  background: #fff;
  transition: 4s;
}

.social-icons a:hover{
  transform: translateY(2px);
  background-color: bisque;
}

#form-feedback {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

#form-feedback.fade-in {
  opacity: 1;
}
